<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TransferenciasBancarias.Properties.Settings.Cn" connectionString="Data Source=FSSAPBO;Initial Catalog=SBO_COMERCIAL;Persist Security Info=True;User ID=sa;Password=Sqladmin281"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>